<!DOCTYPE html>
<html>
<head>
    <%-include('head_meta_css_js')-%>
    <title><%=title%> </title>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center bg-light fixed-top">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
        <img src="#" alt="首頁圖標">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/users">朋友</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activities">活動</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">coming soon..</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <% if (logined) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/myinfo">我的資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signout">登出</a>
                </li>
            <%} else {%>
                <li class="nav-item">
                    <a class="nav-link" href="/login">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">註冊</a>
                </li>
            <%}%>

        </ul>
    </div>
</nav>

