<%- include('header', {title:"ASD_Com", logined:false, identify:""}) -%>
<link rel="stylesheet" href="/stylesheets/signup.css">

<div class="container" style="margin-top: 15%;">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex" id="login_image">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">登入</h4>
                    <%if (failed) {%>
                        <p class="text-center text-danger">登入失敗, 請再試一次</p>
                        <% if (failed_count>3) { %>
                            <p class="text-center text-danger" id="reset_pw">如果你忘記了密碼，請<a href="/login/forget">按此</a></p>
                        <% } %>
                    <%}%>
                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="電郵地址" required>
                            <label for="inputEmail">電郵地址</label>
                        </div>
                        
                        <hr>

                        <div class="form-label-group">
                            <input type="password" name="pw" id="inputPassword" class="form-control" placeholder="密碼" required>
                            <label for="inputPassword">密碼</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">登入</button>
                        <a class="d-block text-center mt-2 small" href="/signup">註冊</a>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" disabled="disabled"><i class="fab fa-google mr-2"></i> 即將啟用... google 登入 </button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" disabled="disabled"><i class="fab fa-facebook-f mr-2"></i> 即將啟用... facebook 登入 </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>
