<%results.forEach((result, index)=>{%>
    user <%=index%>: <br>
    Name: <%=result.name%><br>
    Password: <%=result.pw%><br>
    email: <%=result.email%><br><br>
<%})%>

<form method="POST">
    <button type="submit">a</button>
</form>
